<div class="flex justify-between border rounded-xl border-gray-300 py-4 px-8 gap-2 text-sm">
  <div class="flex-1">
    <fa-icon class="mr-1" [icon]="faUser"></fa-icon>
    {{ exam().studentName }}
  </div>

  <div class="flex-1">
    <fa-icon class="mr-1" [icon]="faMapMarker"></fa-icon>
    @if (!exam().location) {
      <span class="text-gray-400 italic">En attente</span>
    } @else {
      <span>{{ exam().location }}</span>
    }
  </div>

  <div class="flex-1">
    <fa-icon class="mr-1" [icon]="faCalendar"></fa-icon>
    @if (!exam().date) {
      <span class="text-gray-400 italic">En attente</span>
    } @else {
      <span>
        {{ exam().date | date }}
      </span>
    }
  </div>

  <div class="flex-1">
    <fa-icon class="mr-1" [icon]="faClock"></fa-icon>
    @if (!exam().time) {
      <span class="text-gray-400 italic">En attente</span>
    } @else {
      <span>
        {{ exam().time }}
      </span>
    }
  </div>

  <div class="flex-1">
    <div class="rounded-xl text-xs py-1 px-3 w-fit" [ngClass]="statusConfig().class">
      <fa-icon class="mr-1" [icon]="statusConfig().icon"></fa-icon>
      {{ statusConfig().text }}
    </div>
  </div>
</div>
