<form class="form" [formGroup]="form" (submit)="addExam()">
  <div class="form__row">
    <h2 class="text-xl font-bold">Organiser un examen</h2>
  </div>
  <div class="form__row">
    <label class="form__label" for="studentName">Nom de l'élève <span class="text-red-500">*</span></label>
    @if (form.dirty && form.get('studentName')?.errors?.['required']) {
      <span class="text-red-500 text-xs">Champ obligatoire</span>
    }
    <input class="form__input" type="text" id="studentName" formControlName="studentName" />
  </div>

  <div class="form__row">
    <label class="form__label" for="location">Lieu</label>
    <input class="form__input" type="text" id="location" formControlName="location" />
  </div>

  <div class="form__row">
    <label class="form__label" for="date">Date</label>
    <input class="form__input" type="date" id="date" [min]="todayDate | date:'yyyy-MM-dd'" formControlName="date" />
  </div>

  <div class="form__row">
    <label class="form__label" for="time">Heure</label>
    <input class="form__input" type="time" id="time" formControlName="time" />
  </div>

  <div class="form__row">
    <label class="form__label" for="status">Statut</label>
    <select class="form__input" id="status" formControlName="status">
      @for (item of statusOptions; track item.value) {
        <option [value]="item.value">{{ item.label }}</option>
      }
    </select>
  </div>

  <div class="text-right">
    <button class="btn" type="submit">Ajouter</button>
  </div>
</form>
